DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=crm_inmobiliario
PORT=3001
JWT_SECRET=cambia_esto
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000
UPLOAD_DIR=./uploads
