# Conexión base de datos Postgres (local o Supabase/Pooler)
# Para Supabase (remoto con pooler) usa host pooler y DB_SSL=true
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.efhjsfjzvfllcoznnrqy
DB_PASSWORD=tu_password_supabase
DB_NAME=postgres
DB_SSL=true

# Servidor
PORT=3001
JWT_SECRET=cambia_esto_secreto_largo
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000
UPLOAD_DIR=./uploads

